* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #033f74, #07788f);
}

.navbar {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s, padding 0.3s, box-shadow 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


.navbar.scrolled {
    background: linear-gradient(45deg, #2c3e50, #4ca1af);
    padding: 10px 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 5px;
    position: relative;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    transition: width 0.3s;
}

.nav-links li a:hover::before {
    width: 100%;
}

.nav-links li a:hover {
    color: #ff7e5f;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 4px;
    border-radius: 5px;
    transition: 0.3s;
}

.section {
    padding: 100px 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    transform: translateY(50px);
}

.section:nth-child(even) {
    background: #f8f9fa;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.section h1, .section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.section p {
    font-size: 1.2rem;
    color: #666;
}

.cta-button {
    padding: 10px 20px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    text-decoration: none;
    margin-top: 20px;
}

.cta-button:hover {
    background: linear-gradient(to right, #feb47b, #ff7e5f);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background: linear-gradient(45deg, #2c3e50, #4ca1af);
        flex-direction: column;
        width: 200px;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .nav-links li {
        margin: 50px 0;
    }

    .hamburger {
        display: flex;
    }
}
